<%= form_for(@question, :remote => true) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="form_field">
    <label class="label"><%= f.label :enunciation %></label>
    <label class="text_area"><%= f.text_area :enunciation %></label>
  </p>
  <div class="buttons">
    <a><%= f.submit "Save" %></a>
  </div>
<% end %>
