<tr id="<%= dom_id question %>" class="show_grid">
    <td style="width:70%"><%= question.enunciation %></td>
    <td><%= link_to 'Add', {:controller => "questions", :action => "addAnswer", :id => question}, :remote => true %></td>
	<!-- <td><%= link_to 'Edit', edit_question_path(question), :remote => true %></td> -->
    <td><%= link_to 'Editar', edit_question_path(question), :remote => true %></td>
    <td><%= link_to 'Remover', question, :confirm => 'Tem certeza que deseja remover a pergunta? Todas as repostas e pesos perdidos.', :method => :delete, :remote => true %></td>
</tr>