<%= form_for(@perguntum) do |f| %>
  <% if @perguntum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@perguntum.errors.count, "error") %> prohibited this perguntum from being saved:</h2>

      <ul>
      <% @perguntum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :enuciado %><br />
    <%= f.text_field :enuciado %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
