<tr id="<%= dom_id user %>" class="show_grid">
  <td style="width:35%"><%= user.name %></td>
  <td style="width:35%"><%= user.email %></td>
  <td><%= link_to 'Editar', edit_user_path(user), :remote => true , :class => 'botao-editar'%></td>
  <td><%= link_to 'Remover', user, :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => 'botao-remover' %></td>
</tr>