<div id="question">
	<div class="h_text">
		<div class="numero_questao">
				<h1>Questão número <%= @questionNumber + 1 %></h1>
				<a href="../home/index" id="botao_reiniciar">Reiniciar Questionário</a>
			</div>
			
	</div>
	<div class="padding">
		<div class="main_content">
			<h2><%= @questions[@questionNumber].enunciation %></h2>
			<br />
		
			<%=  form_tag({:controller => "generate_question", :action => "nextQuestion"}, :remote => true)  do -%>
		
			<%= hidden_field_tag 'questionNumber', @questionNumber%>
			<% cont = 1 %>
			<% @questions[@questionNumber].answers.each do |i|  %> 
			<div class="selecao_de_resposta">
			<%= radio_button_tag "answer", i.enunciation, true %>
			<span class="radio_button_style"><%= i.enunciation.humanize%></span>
			<span><% cont = cont.next %><span>
			</div>
			<br />
			<br />
			<% end %>
		
			<% if(@questions.size > (@questionNumber + 1))%>
			<div class="buttons">
			    <a href="#"><%= submit_tag "Próxima" %></a>
			</div>
			<% else %>
			<div class="buttons">
			    <a href="#" onclick="loadingGifts();"><%= submit_tag "Enviar" %></a>
			</div>
			<% end %>
		
			<% end -%>
		
		</div>
	</div>
</div>

<script type="text/javascript"> 
$('.selecao_de_resposta').click(function() {
	$(this).children('input').attr('checked','checked');
});
</script>
