<div id="question">
	<div class="h_text">
		<div class="numero_questao">
				<h1>Questão número <%= @questionNumber + 1 %></h1>
			</div>
			<div class="restart_button">
				<a href="../home/index"><img src="../../images/layout/restart_button.png" /></a>
			</div>
	</div>
	<div class="padding">
		<div class="main_content">
			<h2><%= @questions[@questionNumber].enunciation %></h2>
			<br />
		
			<%=  form_tag({:controller => "generate_question", :action => "nextQuestion"}, :remote => true)  do -%>
		
			<%= hidden_field_tag 'questionNumber', @questionNumber%>
			<% cont = 1 %>
			<% @questions[@questionNumber].answers.each do |i|  %> 
			<%= radio_button_tag "answer", i.enunciation %>
			<span class="radio_button_style"><%= i.enunciation.humanize%></span>
			<% cont = cont.next %>
			<br />
			<br />
			<% end %>
		
			<% if(@questions.size > (@questionNumber + 1))%>
			<div class="buttons">
			    <a href="#"><%= submit_tag "Próxima" %></a>
			</div>
			<% else %>
			<div class="buttons">
			    <a href="#"><%= submit_tag "Enviar" %></a>
			</div>
			<% end %>
		
			<% end -%>
		
		</div>
	</div>
</div>

