<div id="<%= dom_id question %>" class="show_grid">
    <p class='enunciado-questao'>
	<span><%= question.enunciation %></span>
    - 
	<%= link_to 'Adicionar resposta', {:controller => "questions", :action => "addAnswer", :id => question}, :remote => true %>
	 - 
	<%= link_to 'Editar', edit_question_path(question), :remote => true %>
	 - 
	<%= link_to 'Remover', question, :confirm => 'Tem certeza que deseja remover a pergunta? Todas as repostas e pesos perdidos.', :method => :delete, :remote => true %>
	
</p>
<table style="width:100%">
	<thead>
		<tr>
			<td >
				Resposta/Caracteristica
			</td>
			<%  caracteristicas = Characteristic.get_characteristics
				for indice_da_coluna_da_caracteristicas in 0...caracteristicas.length				
			%>
				<td><%= caracteristicas[indice_da_coluna_da_caracteristicas].name; %></td>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% if ((question.answers).length == 0) %>
		<tr class='sem-resposta-cadastrada'>
			<td colspan = "<%= caracteristicas.length + 1 %>">
				Nao ha respostas cadastradas
			</td>
		</tr>
		<% end %>
		<% question.answers.each do |resposta| %>
			<%= render :partial => "question_manager/answer", :locals => {:resposta => resposta} %>
		<% end %>
	</tbody>
</table>
</div>