<script type="text/javascript">  
var numeroDeLinhasDaRede = <%= Math.sqrt(@matrizDaRedeNeural.length) %>;
var numeroDeColunasDaRede = <%= Math.sqrt(@matrizDaRedeNeural.length) %>;
var heatMap = null;
var raioHeatmap = 20;
var pjs = null;

function cliqueNoNeuronio(neuronio) {
	alert('Neuronio de id: ' + neuronio.id);
	if (neuronio.vetores.length > 0)
		alert('Vetores do neuronio: (' + neuronio.vetores.join(') - (') + ')');
	else
		alert('Neuronio nao possui vetores.');
		
	return;
};
//Cria rede de 100 neuronios
function criarRede() {  
	
	pjs.MapaNeural.quantidadeDeLinhas = numeroDeLinhasDaRede;
	pjs.MapaNeural.quantidadeDeColunas = numeroDeColunasDaRede;
	
	var linha = 0;
	var coluna = 0;
	for (i=0; i<pjs.MapaNeural.quantidadeDeLinhas*pjs.MapaNeural.quantidadeDeColunas; i++) {
		
		pjs.MapaNeural.criarNeuronio(i, '', linha, coluna); 
		coluna++;
		
		if(coluna > pjs.MapaNeural.quantidadeDeColunas - 1) {
			linha++;
			coluna = 0;
		}
		
	}
	return false;
}

//adiciona um neuronio pegando o id e o vetor dele no campo de texto
function adicionarNeuronio() { 
	if(document.getElementById('id-neuronio').value == ''
	|| document.getElementById('vetor').value == '')
		alert("Preencha todos os campos");
	else {
		pjs = Processing.getInstanceById("mapa");  
		pjs.MapaNeural.adicionarVetorAUmNeuronio(document.getElementById('id-neuronio').value, document.getElementById('vetor').value);
	}
}  

//Adiciona neuronios e vetoresrandomicamente
function adicionarAutomaticamente() {  
	for (i=1; i<=50; i++) {
		//inteiro entre 0 e 100
		var id = Math.floor(Math.random()*numeroDeLinhasDaRede*numeroDeColunasDaRede )
		pjs.MapaNeural.adicionarVetorAUmNeuronio(id, '3,66,1,1'); 
	}
	
}         		

//ajusta o radius do heatma
function ajustarRadius() {  
	heatMap.setNewRadius(document.getElementById('radius-heatmap').value);
}

function desenharRedeNeural() {
	<% 
		idNeuronio = 0
		@matrizDaRedeNeural.each do |neuronioDaRede| 
	%>
		pjs.MapaNeural.quantidadeDeLinhas = numeroDeLinhasDaRede;
		pjs.MapaNeural.quantidadeDeColunas = numeroDeColunasDaRede;
		
		pjs.MapaNeural.criarNeuronio('<%= idNeuronio %>', '', <%= neuronioDaRede.positionx %>, <%= neuronioDaRede.positiony %>, <%= neuronioDaRede.match_count %>); 
	<% 
		idNeuronio = idNeuronio + 1
		end 
	%>
	return;
}

function desenharRedeDePerfis() {
	<% 
		idPerfil = 0
		@listaDePerfis.each do |perfil| 
	%>
		pjs.MapaDePerfis.adicionarPerfil(<%= perfil.positionx %>, <%= perfil.positiony %>, <%= perfil.radius %>, <%= perfil.match_count %>);
	<% 
		idPerfil = idPerfil + 1
		end 
	%>
	return;
}
//heatmap
window.onload = function(){
	pjs = Processing.getInstanceById("mapa");  
	raioHeatmap = Math.floor(document.getElementById("mapa").width / numeroDeLinhasDaRede);
	document.getElementById("radius-heatmap").value = raioHeatmap;
	heatMap = h337.create({"element":document.getElementById("heatmapArea"), "radius": raioHeatmap, "visible":false});
	desenharRedeNeural();
	desenharRedeDePerfis();
};

</script>


<p class="info grid_6">
	Mapa da rede SOM
</p>

<p>
	<label for="name">Heatmap Radius</label>
	<input type="text" name="radius" id="radius-heatmap" value="70" size=5 onchange="ajustarRadius(); return false;"> </input>
	<br/>
	<span>Exibir: 
		<br/>
	Heatmap: 
	<input type="checkbox" onchange="heatMap.toggleDisplay();"><span>
	<span>
		&nbsp;&nbsp;&nbsp;Perfis: 
		<input type="checkbox" onchange="pjs.MapaDePerfis.deveDesenharOsPerfis = !(pjs.MapaDePerfis.deveDesenharOsPerfis);">
	<span>
</p>


<p>

</p>

	<div id="heatmapArea">
		<canvas id="mapa" datasrc="/javascripts/kohonen_site.pjs"></canvas>
	</div>



