<%= form_for(@respostum, :remote => true) do |f| %>
  <% if @respostum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@respostum.errors.count, "error") %> prohibited this respostum from being saved:</h2>

      <ul>
      <% @respostum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<p class="form_field">
		<label class="label"><%= f.label :enuciado %></label>
    	<label class="text_field"><%= f.text_field :enuciado %></label>
	</p>
	<div class="buttons">
		<a href="#"><%= f.submit "Save" %></a><br />
	</div>
<% end %>
