<tr id="<%= dom_id respostum %>" class="show_grid">
    <td style="width:69%"><%= respostum.enuciado %></td>
    <td><%= link_to 'Show', respostum %></td>
    <td><%= link_to 'Edit', edit_respostum_path(respostum), :remote => true %></td>
    <td><%= link_to 'Destroy', respostum, :confirm => 'Are you sure?', :method => :delete, :remote => true %></td>
 </tr>