<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Pandorando</title>
  <%= stylesheet_link_tag "layout.css" %>
  <%= stylesheet_link_tag "style.css" %>
  <%= stylesheet_link_tag "heatmap.css" %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %>
  <%= javascript_include_tag 'rails' %>
  <%= javascript_include_tag 'processing-1.2.1.js' %>
  <%= javascript_include_tag 'heatmap.js' %>
  <%= javascript_include_tag 'maxheight' %>
</head>
<body id="index_1" onload="new ElementMaxHeight();">
	<div id="header_tall">	
		<div id="main">
			<!--header -->
			<div id="header">
				<div class="h_logo">
						<div class="left">
						<!-- <img alt="" src="images/logo.jpg" />--><br />
					</div>
					<div class="right">
						<a href="#"><%= link_to "Profile" %></a>				</div>
					<div class="clear"></div>
				</div>
				<div id="menu">
					<div class="rightbg">
						<div class="leftbg">
							<div class="padding">
								<ul>
									<% if(@index == "users") %>
									<li><span>Usu&aacute;rios</span></li>
									<% else %>
									<li><%= link_to "Usuários", :controller => "users"%></li>
									<% end %>
									<% if(@index == "questions") %>
									<li><span>Perguntas</span></li>
									<% else %>
									<li><%= link_to "Perguntas", :controller => "questions"%></li>
									<% end %>
									<% if(@index == "answers") %>
									<li><span>Respostas</span></li>
									<% else %>
									<li><%= link_to "Respostas", :controller => "answers"%></li>
									<% end %>
									<% if(@index == "gifts") %>
									<li><span>Presentes</span></li>
									<% else %>
									<li><%= link_to "Presentes", :controller => "gifts"%></li>
									<% end %>
									<li class="last"><a href="#">Mostrar Rede</a></li>
								</ul>
								<br class="clear" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--header end-->
			<!-- middle -->
			<div id="middle">
				<%= yield %>

			</div>
			<!-- middle end -->
			<!-- footer -->
			<div id="footer">
				<div class="indent">
					Pandorando <a href="#">Privacy Policy</a>				</div>
			</div>
			<!-- footer end -->
		</div>

	</div>

</body>
</html>
