<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Pandorando</title>
  	<%= stylesheet_link_tag "layout.css" %>
  	<%= stylesheet_link_tag "style.css" %>
  	<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %>
  	<%= javascript_include_tag 'rails' %>
	<%= javascript_include_tag 'maxheight' %>
	<%= javascript_include_tag 'gifts' %>
	<%= stylesheet_link_tag "layout_principal/container_branco.css" %>
	<%= stylesheet_link_tag "layout_principal/grid.css" %>
	<%= stylesheet_link_tag "layout_principal/text.css" %>
	<%= stylesheet_link_tag "layout_principal/layout.css" %>
	<%= stylesheet_link_tag "layout_principal/forms.css" %>
	<%= stylesheet_link_tag "layout_principal/tabela.css" %>
	<%= stylesheet_link_tag "layout_principal/session_header.css" %>
	<%= stylesheet_link_tag "botoes.css" %>
	<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>
</head>

<body>	    
	<div id="container" class="container_16">
		<div class="grid_16 alpha omega">
			<img src="../../images/layout/logoPandorando.png" id="logo" style="margin: 10px 0 0 30px;" />
		</div>	
 
		<div class="grid_16 omega" style="margin-top: 15px;">
			<div class="top_left">
				<div class="top_right">
					<div class="top">
					</div>
				</div>
			</div>
			<div class="content_left">
				<div class="content_right">
					<div id="alvo" class="content">
						 <%= yield %>
					</div>
				</div>
			</div>
			<div class="footer_left">
				<div class="footer_right">
					<div class="footer">
					</div>
				</div>
			</div>		
		</div><!-- end main_border_reounded -->
		<div class="clear"></div>

		<div class="grid_16" id="site_info">
			<h4 style="float:right"> Designed by Arthur Fonseca and Vinicius Oyama </h4>
		</div>				

					</div><!-- end container -->
				</body>
</html>