<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Pandorando</title>
  	<%= stylesheet_link_tag "layout.css" %>
  	<%= stylesheet_link_tag "style.css" %>
  	<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %>
  	<%= javascript_include_tag 'rails' %>
	<%= javascript_include_tag 'maxheight' %>
	<%= javascript_include_tag 'gifts' %>
	<%= stylesheet_link_tag "layout_principal/container_branco.css" %>
	<%= stylesheet_link_tag "layout_principal/grid.css" %>
	<%= stylesheet_link_tag "layout_principal/text.css" %>
	<%= stylesheet_link_tag "layout_principal/layout.css" %>
	<%= stylesheet_link_tag "layout_principal/forms.css" %>
	<%= stylesheet_link_tag "layout_principal/tabela.css" %>
	<%= stylesheet_link_tag "botoes.css" %>
	<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>
</head>

<body>	    
	<div id="container" class="container_16">
			<!-- end login area -->
		</div>	
		<div id="sec_header" class="grid_16">
			<div class="grid_3">
					<!-- TODO: alterar a imagem abaixo para o logotipo do servidor- - o posicionamento da imagem encontra-se no arquivo grid.css-->
			        <!-- <img src="../../images/layout/logoIndigo.png"  id="logo" /> -->
			    </a>
			</div>
			<div class="grid_13" id="areas">
							</div>  
						</div><!-- end header -->

						<div id="wrapper" class="grid_20">			    
							<div id="menu_direito" class="grid_3">
								<div class="box">	
								</div>		
							</div><!-- end menu_direito -->

							<div class="grid_13 omega" id="main">
								<div class="top_left">
									<div class="top_right">
										<div class="top">
										</div>
									</div>
								</div>
								<div class="content_left">
									<div class="content_right">
										<div id="alvo" class="content">
											 <%= yield %>
										</div>
									</div>
								</div>
								<div class="footer_left">
									<div class="footer_right">
										<div class="footer">
										</div>
									</div>
								</div>		
							</div><!-- end main_border_reounded -->
							<div class="clear"></div>
							<div class="grid_16" id="site_info">
								<div class="box">
									<h4> Designed by Arthur Fonseca and Vinicius Oyama </h4>
								</div>
							</div>
						</div><!-- end main -->

					</div><!-- end container -->
				</body>
</html>